<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
      <!-- Home Page Header -->
        <div class="home_header">
      <h1>Codeial | Home</h1>
      <% if(locals.user){ %>
      <p><%=locals.user.name%></p>
      <div>
        <a href="/users/sign-out">Sign Out</a>
      </div>
      <div>
        <a href="/users/profile/<%=locals.user.id%>">Profile</a>
      </div>
      <%}else{%>
      <button>
        <a href="/users/sign-in">Sign In</a>
      </button>
      <button>
        <a href="/users/sign-up">Sign Up</a></button
      ><%}%>
        </div>

        <!-- Post Container (Partials) -->
        <% if(locals.user) {%>     
            <section class="post_container"> 
                <%-include('_post')-%>
            </section> 
         <%}%>

        <% if(locals.user){ %>
        <!-- Friends Container -->
          <section id="user_friends">
            <h4>Friends</h4>
            <%for(u of all_users){ %>
                <p>
                    <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                </p>
            <%}%>
          </section>
        <%}%>
    </body>
</html>

