<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css
    ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <!-- Profile Page Header -->
    <%-include('_header') -%>

    <!-- Post Form is user logged in  -->

    <%if(locals.user.id == profile_user.id){ %>
        <section id="feed_posts">
      <h4>Posts</h4>
      <form action="/posts/create" method="post">
        <textarea
          name="content"
          id=""
          cols="30"
          rows="3"
          placeholder="Type Here..."
        ></textarea>
        <input type="submit" values="Post" />
      </form>
        </section>
    
    <%}%>
    <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">
    <!-- Update Profile Form if user logged in  -->
    <% if(locals.user.id == profile_user.id){ %>
        <form action="/users/update/<%=locals.user.id%>" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
            <input type="text" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
            <input type="file" name="avatar" placeholder="Profile Picture">
            <input type="submit" value="Update">
        </form>
    <%}%>
    <script>
      <%if(flash.success && flash.success.length>0){%>  
    new Noty({
      theme: 'relax',
      text: "<%=flash.success%>",
      type: 'success',
      layout: 'topRight',
      timeout: 1500
    }).show();
      <%}%>
      <%if(flash.error && flash.success.error>0){%>  
    new Noty({
      theme: 'relax',
      text: "<%=flash.error%>",
      type: 'error',
      layout: 'topRight',
      timeout: 1500
    }).show();
      <%}%>
  </script>
  <script src=""></script>
  </body>
</html>
